prefer-no-csd
input {
    keyboard {
        repeat-rate 35
        repeat-delay 200
        xkb {
            layout "se"
        }
        numlock
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        drag-lock
        natural-scroll
        accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="95%"
}

output "DP-2" {
  mode "2560x1440@360"
  scale 1.25
  transform "normal"
  position x=1080 y=330
}

output "HDMI-A-2" {
  mode "1920x1080@60"
  scale 1
  transform "90"
  position x=0 y=0
}

include "./colors.kdl"

layout {
    
    gaps 9

    center-focused-column "never"

    preset-column-widths {
    
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

    }

    default-column-width { proportion 0.5; }

    focus-ring {
      off
    }
    
    background-color "transparent"
    border {
        width 1
    }
    shadow {}
    
}

overview {
  zoom 0.5
  backdrop-color "black"
}

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"

cursor {
    xcursor-theme "macos-tahoe-cursor"
    xcursor-size 24
}

hotkey-overlay {
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {

}

window-rule {
    match is-active=false
    opacity 0.90
}

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

binds {
    Mod+Return { spawn "foot"; }
    Mod+Space { spawn "wofi" "--show" "drun"; }
    Mod+B { spawn "helium-browser"  "--enable-features=UseOzonePlatform,RemoveRedirectionBitmap" "--ozone-platform=wayland" "--force-dark-mode"; }
    Mod+E { spawn "nautilus"; }
    Mod+W { spawn "matuwall"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+D repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Alt+H     { move-column-left; }
    Mod+Alt+J     { move-window-down; }
    Mod+Alt+K     { move-window-up; }
    Mod+Alt+L     { move-column-right; }

    Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Shift+Alt+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Shift+Alt+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+U     { focus-workspace-down; }
    Mod+I     { focus-workspace-up; }
    Mod+Alt+U { move-column-to-workspace-down; }
    Mod+Alt+I { move-column-to-workspace-up; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    Mod+Alt+WheelScrollDown { move-column-right; }
    Mod+Alt+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Alt+1 { move-column-to-workspace 1; }
    Mod+Alt+2 { move-column-to-workspace 2; }
    Mod+Alt+3 { move-column-to-workspace 3; }
    Mod+Alt+4 { move-column-to-workspace 4; }
    Mod+Alt+5 { move-column-to-workspace 5; }
    Mod+Alt+6 { move-column-to-workspace 6; }
    Mod+Alt+7 { move-column-to-workspace 7; }
    Mod+Alt+8 { move-column-to-workspace 8; }
    Mod+Alt+9 { move-column-to-workspace 9; }

    Mod+N { consume-or-expel-window-left; }
    Mod+M { consume-or-expel-window-right; }
    Mod+T { toggle-column-tabbed-display; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Alt+F { fullscreen-window; }

    Mod+G { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }

    Mod+Alt+Minus { set-window-height "-10%"; }
    Mod+Alt+Plus { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Alt+V { switch-focus-between-floating-and-tiling; }




    Mod+S { screenshot; }


    Mod+0 { quit; }
}
