*{
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

window#waybar {
  background: rgba(67, 67, 67, 0.2);

  margin: 0px 0px 0px 0px;

  border-radius: 0px 0px 0px 0px;
}

#clock {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

#custom-wlogout {
  color: white;
  font-size: 28px;
}

#custom-seperator {
  color: white;
}

#workspaces button {
    background-color: transparent;
    padding: 2px 4px;
    border-radius: 99px;
    margin: 0 2px;
    transition: all 300ms ease-in-out;
    min-width: 7px;
}

#workspaces button.empty {
    color: grey;
}

#workspaces button.active {
    background-color: transparent;
    color: white;
    min-width: 1.5rem;
    font-weight: 500;
    transition: none;
}
