*{
  border: none;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  min-width: 0px;
}

#waybar {
  background-color: alpha(@bg0, 0.8);
}

#tooltip {
  background: white;
  border: 1px solid @blue;
  border-radius: 12px;
}

#tooltip label {
  color: white;
}

#workspaces {
  min-width: 0;
  margin: 9px;
  transition: all 0.3s ease-in-out;
}

#workspaces button {
  color: white;
  background: linear-gradient(180deg, @grey0 0%, @bg1 100%);
  transition: all 0.3s ease-in-out;
  min-width: 0;
  margin: 0px 0;
  border-radius: 3px;
}

#clock {
  color: white;
  font-size: 20px;
}

#volume {
  color: white;
}

#custom-wlogout {
  color: white;
  font-size: 20px;
}

#custom-seperator {
  color: white;
}
