@import "colors.css";

/* Reset all elements to ensure no weird inheritance */
* {
    font-family: "Maple Mono";
    background-color: transparent;
    color: @on_surface;
    box-shadow: none;
}

#window {
    /* Standard background color is safer than gradient in Wofi */
    background-color: @surface;
    color: @on_surface;
    border: 1px solid @outline;
    border-radius: 14px;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#inner-box {
    padding-top: 12px;
    background-color: transparent;
}

#scroll {
    border-top: 1px solid @outline_variant;
}

#input {
    background-color: @surface_container;
    color: @on_surface;
    border: none;
    border-bottom: 1px solid @outline;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 12px;
    margin: 8px;
}

#input:focus {
    background-color: @surface_container_high;
    border-color: @primary;
    font-style: italic;
}

#entry {
    padding: 6px;
    margin: 0px 12px 8px 12px;
    border-radius: 12px;
    color: @on_surface;
}

#entry:selected {
    background-color: @secondary_container;
    color: @on_secondary_container;
    font-weight: bold;
    outline: none;
}

#img {
    padding: 4px;
    margin-right: 6px;
}
